%center
  #menu-table
    %table
      %tr
        %td
          =link_to "Strona główna", root_path
        %td
          =link_to "Twój profil", profile_path
        %td
          =link_to "Głosowanie", new_elimination_path
        %td
          =link_to "Utwory", songs_path
