
%table
  %tr
    %th Wykonawca
    %th Tytuł
    %th Punkty
    - @eliminations.each do |el|
      %th
        =el.user.username
  -@songs.each do |song|
    %tr
      %td
        =song.artist
      %td
        =song.title
      %td
        0
      - @eliminations.each do |el|
        %td
          =#song.elimination_votes.where("user_id = ?", el.user_id).limit(1).methods.sort
          - if el.elimination_votes.where("song_id = ?", song.id).size == 1
            =el.elimination_votes.where("song_id = ?", song.id)[0].points
      
  
= link_to "Zagłosuj", new_elimination_path
